{% extends 'social/base.html' %}

{% block content %}

<div class="container">

    <h3 class="mb-4">

        {{ profile_user.username }} is Following

    </h3>

    {% for follow in following %}

        <div class="feed-card p-3 mb-3">

            <a href="{% url 'profile' follow.following.username %}"
               class="text-decoration-none">

                {{ follow.following.username }}

            </a>

        </div>

    {% empty %}

        <div class="alert alert-info">

            Not following anyone yet.

        </div>

    {% endfor %}

</div>

{% endblock %}